/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;

}

header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  position: sticky;
  top: 0;
}
#menu ul{
  display: flex;
  gap: 20px;
  list-style: none;
}
#menu a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: all .5s;
}
#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);

}
main{
  display: grid;
  grid-template-columns: auto 90vw auto;
  background-color: var(--fundo-principal);
}
#ficha{
  grid-column: 2;
  background-color: var(--fundo-card);
  padding: 25px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.205);
  margin-bottom: 20px;
}
#ficha img{
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
}
#ficha h1{
  margin: 15px;
  color: var(--destaque);
}
#ficha p{
  margin-bottom: 15px;
  text-align: justify;
}
#social{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.5em;
}
#ficha a{
  text-decoration: none;
  color: var(--destaque);
  transition:all .5s;
}
#ficha a:hover{
  color: var(--destaque-inverso);
}
#detalhes{
  grid-column: 2;
}
#detalhes h2{
  color: var(--destaque);
  margin-bottom: 15px;
  text-align: center;
}
article{
  background-color: var(--fundo-card);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.205);
}
#apresentaçao{
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  margin: auto;
}
#apresentaçao iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
#skills-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#nome{
  color: var(--texto);
  font-weight: bolder;
}
#porce{
  color: var(--destaque);
  font-weight: bolder;
}
#barra{
  background-color: var(--fundo-principal);
  width: 100%;
  height: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
}
#progresso{
  background-color: var(--destaque);
  width: 100%;
  height: 8px;
  border-radius: 8px;
}
#formaçao-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-info{
  background-color: var(--fundo-principal);
  border-left: 8px solid var(--destaque-inverso);
  border-radius: 8px;
  padding: 5px 15px;
  transition: border .5s;
  cursor: pointer;
}
.form-info:hover{
   border-left: 15px solid var(--destaque);
   .inst{
    color: var(--destaque);
   }
   .grad{
    color: var(--destaque);
   }
}
.periodo{
  font-weight: 600;
  margin-bottom: 10px;
}
.inst{
  margin-bottom: 10px;
  color: var(--destaque-inverso);
}
.grad{
  margin-bottom: 10px;
  color: var(--destaque-inverso);
}
#proj-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.proj-itens{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--fundo-principal);
  padding: 10px 15px;
  border-left: 8px solid var(--destaque-inverso);
  border-radius: 8px;
  cursor: pointer;
  &:hover{
    border-left: 15px solid var(--destaque);
    transition: all .5s;
    .titulo{
      color: var(--destaque);
      transition: all .5s;
    }
  }
  &img{
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    object-fit: cover;
    border-radius: 6px;
  }
}
.titulo{
  color: var(--destaque-inverso);
  
  }
.proj{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
summary{
  margin-bottom: 10px;
}
footer{
  width: 100%;
  height: 50px;
  background-color: var(--destaque);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--texto);
}
@media screen and (min-width: 768px){
  #skills-container{
  grid-template-columns: 1fr 1fr;
}
.proj-itens{
  flex-direction: row-reverse;
  justify-content: space-between;
}
.proj-itens img{
  
   aspect-ratio: 16/9;
   width: 30%;
   max-height: 200px;
 
}
.form-info{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 justify-content: space-between;
 align-items: center;
 height: 80px;
}
}